llm_api_key: "your api_key"
base_url : "https://api.zhizengzeng.com/v1"

project:
  id: memobase_dev
  access_token: secret

database:
  user: memobase
  password: helloworld
  name: memobase
  host: memobase-server-db
  port: 5432

redis:
  host: memobase-server-redis
  port: 6379
  password: helloworld

embedding_provider: openai
embedding_api_key: "your api_key"
embedding_model: qwen3-embedding-8b
embedding_base_url: https://api.zhizengzeng.com/v1
#embedding_base_url: http://127.0.0.1:1234/v1 （if use LM Studio）
embedding_dim: 4096

language: zh

